
header {
    display: flex;
    background-color: rgb(236, 157, 11);
    color: rgb(44, 113, 136);
    flex-direction: row;
    align-items: center;
    width: 100%;
}
a:link {
    color: rgb(94, 12, 94);
}
a:visited {
    color: rgb(94, 12, 94);
}
h1 {
    text-align: center;
    padding: 0px;
}
h1, h2, h3 {
    font-family: sans-serif; 
}
.container {
    padding: 15px;
    display: flex;
    flex-direction: row;

}
img {
    margin: 0;
    width: 40vw;
}
.nav {
    padding: 15px;
}
body {
    margin: 0;
    padding: 10px;
    background-color: white;
}
#hamburger {
    display: none;
}


/*
* TODO create a hamburger menu when the width gets below 850px
*/
@media(max-width: 850px) {
    #hamburger {
        display: inline;
        justify-self: flex-start;
    }
    img {
        width: 80vw;
        margin-left: -30px;
    }
    .navlist {
        display: inline;
    }
    .container {
        flex-direction: column;
        padding: 0;
    }
    nav {
        display: none;
      }
    
    nav.open {
        background-color: gray;
        opacity: 0.9;
        display: block;
        position: absolute;
        left: 330px;
        top: 50px;
        width: 150px;
        
    }

}



