header {
    display: flex;
    background-color: rgb(236, 157, 11);
    color: rgb(44, 113, 136);
    flex-direction: row;

    align-items: center;
}
a:link {
    color: rgb(94, 12, 94);
}
a:visited {
    color: rgb(94, 12, 94);
}
h1 {
    text-align: center;
    padding: 15px;
}

.container {
    padding: 15px;
    display: flex;
    flex-direction: row;

}

.nav {
    padding: 15px;
}

